firecrawl_py
langchain
langchain_astradb
langchain_core
langchain_google_genai
langgraph
langgraph_supervisor
pydantic
python-dotenv
tavily_python
fastapi
fastmcp
mcp
uvicorn
rich
psycopg2-binary
langchain_postgres
appwrite